
<div *ngIf="errorFetchingData">Error loading ski slopes</div>
<app-loader *ngIf="!skiSlopes"></app-loader>


 <article *ngFor="let slope of skiSlopes">
   <h3>{{slope.themeName}}v</h3>
   <div class="gridcontainer">
   <div class="img">
       <img class="img__img" src="{{slope.imageUrl}}" alt="">
      
   </div>
   <div class="containet">
   
       <ul class="description">
           <li class="description evaluation"> Evalution 
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star"></span>
               <span class="fa fa-star"></span>
           </li>
           <li class="description difficult">Difficulty level: Begginers, Easy, Intermediate, Hard </li>
           <li class="description length">1500 m</li>
           <li class="description lift">Ski Lift: Chairlifts, Drag Lifts, Gondolas</li>
           <li class="desctination">Europe>>Bulgaria>><span>Vitosha</span></li>
           <li class="description_more"><a href="http://">More</a></li>
       </ul>

   </div>
</div>
<div class="author">

<h4>{{slope.userId.username}}</h4>
<p>{{slope.created_at}}</p>
</div>
</article>
