<div *ngIf="errorFetchingData">Error loading post ski slopes</div>
<app-loader *ngIf="!posts"></app-loader>
<div class="col-lg-8 col-sm-8 col-xs-12">
    <div class="news-post-holder">
       <div *ngFor="let post of posts"  class="news-post-widget">
          <img class="img-responsive" src="images/img-01_002.jpg" alt="">
          <div class="news-post-detail">
             <span class="date">{{post.updatedAt}}</span>
             <h2><a href="blog-detail.html">{{post.themeId.themeName}}</a></h2>
             <p>{{post.text}}</p>
          </div>
       </div>
    </div>
 </div>