<footer id="footer">
   <div class="footer-content">
      <div class="footer_title">
         <div class="footer_logo">
            <div class="logo">
               <i class="fas fa-mountain">Ski slopes</i>
            </div>
            <p class="footer_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            <ul class="social_icons" role="list">
               <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
               <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
               <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
               <li><a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
         </div>
      </div>

      <nav class="footer_menu">
         <h3 class="footer_menu_title">Menu</h3>
         <ul class="footer_menu ul" role="list">
            <li class="nav_menu"><a href="">About Us</a></li>
            <li class="nav_menu"><a href="">Our Team</a></li>
            <li class="nav_menu"><a href="">Latest news</a></li>
            <li class="nav_menu"><a href="">Our Blog</a></li>
            <li class="nav_menu"><a href="">Contact Us</a></li>
         </ul> 
      </nav>

      <div class="footer_contact">
         <h3 class="footer_contact_title">Contact us</h3>
         <ul class="footer_contact_ul" role="list">
            <li class="footer_contact li"><i class="fas fa-map-marker-alt"></i><span class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span></li>
            <li class="footer_contact li"><i class="fas fa-phone-alt"></i><span>123 456 7890</span></li>
            <li class="footer_contact li"><i class="fas fa-envelope"></i><span>info@slopes-ski.com</span></li>
         </ul>
      </div>

      <div class="footer-map">    
               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d120615.72236587871!2d73.07890527988283!3d19.140910987164396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1527759905404"
                  ></iframe>
      </div>
   </div>
   <p class="footer-all-rights-date">© 2024 All Rights Reserved</p>

</footer>

<!-- width="200" height="150" frameborder="0" style="border:0" allowfullscreen -->

